---
import HeroPrincipal from "../components/HeroPrincipal.astro";
import Testimonials from "@/components/Testimonials.astro";
import AboutUs from "@/components/AboutUs.astro";
import Service from "@/components/Service.astro";
import Contact from "@/components/Contact";
import Layout from "../layouts/Layout.astro";
import Blogs from "@/components/Blogs.astro";
import Hero from "@/components/Hero.astro";

import "@/styles/globals.css";
---

<Layout title="Welcome to Astro.">
    <main class="w-full mx-auto">
        <HeroPrincipal />
        <Hero />
        <Service />
        <AboutUs />
        <Testimonials />
        <Blogs />
        <Contact />
    </main>
</Layout>
