---
import { Button } from "./ui/button";
---

<section id="SobreNosotros" class="py-32 text-zinc-50 px-4">
    <div class="container mx-auto">
        <div class="flex flex-col items-center gap-6">
            <h2 class="mb-2 text-center text-3xl font-bold lg:text-5xl">
                ¿Por qué elegir Jireh English Academy?
            </h2>
            <p class="text-zinc-300 lg:text-lg text-center max-w-5xl">
                En Jireh English Academy, nos especializamos en AYUDAR A ESCALAR
                TU INGLÉS A OTRO NIVEL CON UNA METODOLOGÍA de aprendizaje
                práctico y personalizado. Nuestro profesor, con más de 20 años
                de experiencia viviendo y enseñando en entornos de habla
                inglesa, garantiza una enseñanza de alta calidad centrada en los
                resultados.
            </p>
            <div class="mt-6 flex flex-col gap-6 lg:flex-row">
                <div
                    class="rounded-lg border bg-card text-card-foreground shadow-sm flex flex-col justify-between gap-5 lg:w-1/3"
                >
                    <div class="flex flex-col space-y-1.5 p-6 items-start">
                        <div
                            class="inline-flex items-center rounded-full border px-2.5 py-0.5 text-xs font-semibold transition-colors focus:outline-none focus:ring-2 focus:ring-ring focus:ring-offset-2 text-foreground"
                        >
                            Experiencia y Metodología Personalizada
                        </div>
                    </div>
                    <div class="p-6 pt-0 text-lg lg:text-2xl">
                        Cada estudiante es único, y nuestras clases lo reflejan.
                        Te ayudamos con objetivos personales, ya sea mejorar tu
                        fluidez en conversaciones diarias, preparar
                        presentaciones en inglés o especializarte en un sector
                        específico como minería o negocios.
                    </div>
                    <div class="flex items-center p-6 pt-0">
                        <a
                            href="#Servicios"
                            class="inline-flex items-center justify-center whitespace-nowrap rounded-md text-sm font-medium ring-offset-background transition-colors focus-visible:outline-none focus-visible:ring-2 focus-visible:ring-ring focus-visible:ring-offset-2 disabled:pointer-events-none disabled:opacity-50 border border-input bg-white hover:bg-zinc-100 hover:text-zinc-800 h-10 px-4 py-2 text-zinc-950"
                        >
                            Conoce más sobre nuestra metodología <svg
                                xmlns="http://www.w3.org/2000/svg"
                                width="24"
                                height="24"
                                viewBox="0 0 24 24"
                                fill="none"
                                stroke="currentColor"
                                stroke-width="2"
                                stroke-linecap="round"
                                stroke-linejoin="round"
                                class="lucide lucide-chevron-right ml-2 h-4 w-4"
                            >
                                <path d="m9 18 6-6-6-6"></path>
                            </svg>
                        </a>
                    </div>
                </div>
                <div class="lg:w-1/3 bg-white rounded-md overflow-hidden">
                    <img
                        src="/Img/JIREH ENGLISH ACADEMY-9.avif"
                        alt=""
                        class="h-full max-h-96 w-full rounded-md object-cover [mask-image:radial-gradient(ellipse_90%_100%_at_50%_-2%,#000_80%,transparent_100%)]"
                    />
                </div>
                <div
                    class="rounded-lg border bg-card text-card-foreground shadow-sm flex flex-col justify-between gap-5 lg:w-1/3"
                >
                    <div class="flex flex-col space-y-1.5 p-6 items-start">
                        <div
                            class="inline-flex items-center rounded-full border px-2.5 py-0.5 text-xs font-semibold transition-colors focus:outline-none focus:ring-2 focus:ring-ring focus:ring-offset-2 text-foreground"
                        >
                            Nuestro Profesor
                        </div>
                    </div>
                    <div class="p-6 pt-0 text-lg lg:text-2xl">
                        Con más de 20 años de inmersión en la cultura
                        norteamericana, nuestro profesor está altamente
                        calificado para enseñar inglés en todos los niveles,
                        desde básico hasta avanzado, con un enfoque en inglés
                        nativo.
                    </div>
                    <div class="flex items-center p-6 pt-0">
                        <a
                            href="#Contacto"
                            class="inline-flex items-center justify-center whitespace-nowrap rounded-md text-sm font-medium ring-offset-background transition-colors focus-visible:outline-none focus-visible:ring-2 focus-visible:ring-ring focus-visible:ring-offset-2 disabled:pointer-events-none disabled:opacity-50 border border-input bg-white hover:bg-zinc-100 hover:text-zinc-800 h-10 px-4 py-2 text-zinc-950"
                        >
                            Get Started Today<svg
                                xmlns="http://www.w3.org/2000/svg"
                                width="24"
                                height="24"
                                viewBox="0 0 24 24"
                                fill="none"
                                stroke="currentColor"
                                stroke-width="2"
                                stroke-linecap="round"
                                stroke-linejoin="round"
                                class="lucide lucide-chevron-right ml-2 h-4 w-4"
                            >
                                <path d="m9 18 6-6-6-6"></path>
                            </svg>
                        </a>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>
