---
import CardBlog from "./CardBlog.astro";
---

<section id="Blog" class="container mx-auto px-4 py-16">
    <h2 class="text-3xl font-bold text-center text-zinc-50 mb-16 md:text-5xl">
        Blogs
    </h2>
    <div class="grid grid-cols-1 md:grid-cols-2 gap-4 mt-4 place-items-center">
        <CardBlog
            title="Inglés para Minería en La Serena y Coquimbo: ¿Por qué es Importante para Profesionales de la Industria?"
            description="Descubre los mejores consejos para mejorar tu inglés y sobresalir en el entorno laboral."
            image="/Img/JIREH ENGLISH ACADEMY-3.avif"
            date="25 Oct 2024"
            slug="blog-de-ingles-para-mineria-en-la-serena-y-coquimbo"
        />
        <CardBlog
            title="Los Niveles de Inglés: ¿Cuál es el Tuyo y Cómo Mejorarlo en La Serena?"
            description="Aprende el vocabulario clave que necesitarás para comunicarte en un entorno minero en inglés."
            image="/Img/JIREH ENGLISH ACADEMY-17.avif"
            date="25 Oct 2024"
            slug="blog-de-los-niveles-de-ingles"
        />
    </div>
</section>
