---

---

<section>
    <div class="mx-auto max-w-screen-xl px-4 py-32 lg:flex lg:items-center">
        <div class="mx-auto max-w-2xl text-center text-white">
            <h1 class="text-3xl font-extrabold sm:text-5xl">
                Reserva tu próxima asesoría
                <strong class="font-extrabold text-red-600 sm:block">
                    con nosotros
                </strong>
            </h1>

            <p class="mt-4 sm:text-xl/relaxed">
                ¿Necesitas ayuda con tu pronunciación, gramática, vocabulario o
                simplemente quieres practicar tu inglés? ¡Reserva tu asesoría
                con nosotros!
            </p>

            <div class="mt-8 flex flex-wrap justify-center gap-4">
                <a
                    class="block w-full rounded bg-red-600 px-12 py-3 text-sm font-medium text-white shadow hover:bg-red-700 focus:outline-none focus:ring active:bg-red-500 sm:w-auto"
                    target="_blank"
                    href="https://calendly.com/adaptenglish07/asesorias"
                >
                    Consulta nuestro calendario
                </a>
            </div>
        </div>
    </div>
</section>
