---
import SwiperHome from "./swiperHome";
---

<section
    id="Inicio"
    class="relative h-[100dvh] w-full flex flex-col justify-center text-zinc-50 items-center text-center"
>
    <div
        class="h-[100dvh] w-full z-10 [mask-image:radial-gradient(ellipse_99%_100%_at_50%_-10%,#000_80%,transparent_100%)] brightness-50 md:[mask-image:radial-gradient(ellipse_90%_100%_at_50%_-20%,#000_80%,transparent_100%)]"
    >
        <SwiperHome client:load />
    </div>
    <div
        class="flex flex-col justify-center items-center h-[80dvh] w-full max-w-5xl z-30 absolute bottom-24 left-[0%] lg:left-[calc(50%-512px)] lg:top-1/2 lg:h-auto"
    >
        <h1
            class="text-3xl lg:text-5xl mb-4 font-bold drop-shadow-[0_0px_7px_rgba(255,255,255,0.35)] flex-1 md:flex-none"
        >
            Cursos de Inglés Personalizados en La Serena Jireh English Academy
        </h1>
        <p
            class="text-xl md:text-2xl mb-8 font-medium drop-shadow-[0_0px_7px_rgba(0,0,0,0.75)]"
        >
            Aprende inglés con un profesor nativo y mejora tu fluidez con
            nuestros cursos adaptados a tus necesidades.
        </p>
        <a
            href="#Contacto"
            class="h-9 px-4 py-2 bg-primary text-primary-foreground shadow hover:bg-primary/90 inline-flex items-center justify-center gap-2 whitespace-nowrap rounded-md text-sm font-medium transition-all focus-visible:outline-none focus-visible:ring-1 focus-visible:ring-ring disabled:pointer-events-none disabled:opacity-50 [&_svg]:pointer-events-none [&_svg]:size-4 [&_svg]:shrink-0 hover:drop-shadow-[0_0px_7px_rgba(255,255,255,0.75)]"
        >
            Reserva tu clase gratuita ahora
        </a>
    </div>
</section>
