---

---

<section id="Servicios" class="text-white">
    <div
        class="mx-auto max-w-screen-xl px-4 py-8 sm:px-6 sm:py-12 lg:px-8 lg:py-16"
    >
        <div class="mx-auto max-w-lg text-center">
            <h2 class="text-3xl font-bold sm:text-5xl">Nuestros Servicios</h2>

            <p class="mt-4 text-gray-300">
                En Jireh English Academy te ayudamos con una amplia gama de
                cursos de inglés personalizados para adaptarnos a tus
                necesidades específicas. Ya sea que busques mejorar tu inglés
                para el trabajo, para la oficina, para viajar o para desarrollar
                habilidades lingüísticas en el sector minero, tenemos el curso
                adecuado para ti.
            </p>
        </div>

        <div class="mt-8 grid grid-cols-1 gap-8 md:grid-cols-2 lg:grid-cols-3">
            <a
                class="block rounded-xl border bg-blue-800 border-gray-800 p-8 shadow-xl transition hover:bg-blue-950 hover:border-zinc-50/10 hover:shadow-zinc-50/10"
                href="/cursos/curso-de-ingles-para-la-mineria"
            >
                <svg
                    xmlns="http://www.w3.org/2000/svg"
                    class="size-10 text-zinc-50"
                    fill="none"
                    viewBox="0 0 24 24"
                    stroke="currentColor"
                >
                    <path d="M12 14l9-5-9-5-9 5 9 5z"></path>
                    <path
                        d="M12 14l6.16-3.422a12.083 12.083 0 01.665 6.479A11.952 11.952 0 0012 20.055a11.952 11.952 0 00-6.824-2.998 12.078 12.078 0 01.665-6.479L12 14z"
                    ></path>
                    <path
                        stroke-linecap="round"
                        stroke-linejoin="round"
                        stroke-width="2"
                        d="M12 14l9-5-9-5-9 5 9 5zm0 0l6.16-3.422a12.083 12.083 0 01.665 6.479A11.952 11.952 0 0012 20.055a11.952 11.952 0 00-6.824-2.998 12.078 12.078 0 01.665-6.479L12 14zm-4 6v-7.5l4-2.222"
                    ></path>
                </svg>

                <h3 class="mt-4 text-xl font-bold text-white">
                    Cursos de Inglés para Minería en La Serena
                </h3>

                <p class="mt-1 text-sm text-gray-300">
                    Desarrolla habilidades de comunicación en inglés adaptadas a
                    las necesidades del sector minero. Este curso está diseñado
                    específicamente para profesionales que trabajan en la
                    industria minera y necesitan mejorar su inglés técnico.
                </p>
                <p class="sr-only">
                    Inglés para minería en La Serena", "clases de inglés para
                    mineros
                </p>
                <p class="text-right underline underline-offset-2">Ver más</p>
            </a>

            <a
                class="block rounded-xl border bg-blue-800 border-gray-800 p-8 shadow-xl transition hover:bg-blue-950 hover:border-zinc-50/10 hover:shadow-zinc-50/10"
                href="cursos/curso-de-ingles-para-negocios"
            >
                <svg
                    xmlns="http://www.w3.org/2000/svg"
                    class="size-10 text-zinc-50"
                    fill="none"
                    viewBox="0 0 24 24"
                    stroke="currentColor"
                >
                    <path d="M12 14l9-5-9-5-9 5 9 5z"></path>
                    <path
                        d="M12 14l6.16-3.422a12.083 12.083 0 01.665 6.479A11.952 11.952 0 0012 20.055a11.952 11.952 0 00-6.824-2.998 12.078 12.078 0 01.665-6.479L12 14z"
                    ></path>
                    <path
                        stroke-linecap="round"
                        stroke-linejoin="round"
                        stroke-width="2"
                        d="M12 14l9-5-9-5-9 5 9 5zm0 0l6.16-3.422a12.083 12.083 0 01.665 6.479A11.952 11.952 0 0012 20.055a11.952 11.952 0 00-6.824-2.998 12.078 12.078 0 01.665-6.479L12 14zm-4 6v-7.5l4-2.222"
                    ></path>
                </svg>

                <h3 class="mt-4 text-xl font-bold text-white">
                    Clases de Inglés para Negocios en La Serena
                </h3>

                <p class="mt-1 text-sm text-gray-300">
                    Mejora tus habilidades de comunicación en el mundo
                    empresarial. Nuestras clases de inglés para negocios te
                    preparan para negociar, redactar correos, y comunicarte con
                    confianza en reuniones y conferencias internacionales.
                </p>
                <p class="sr-only">
                    Inglés para negocios en La Serena", "clases de inglés para
                    profesionales
                </p>
                <p class="text-right underline underline-offset-2">Ver más</p>
            </a>

            <a
                class="block rounded-xl border bg-blue-800 border-gray-800 p-8 shadow-xl transition hover:bg-blue-950 hover:border-zinc-50/10 hover:shadow-zinc-50/10"
                href="cursos/curso-de-ingles-para-viajeros"
            >
                <svg
                    xmlns="http://www.w3.org/2000/svg"
                    class="size-10 text-zinc-50"
                    fill="none"
                    viewBox="0 0 24 24"
                    stroke="currentColor"
                >
                    <path d="M12 14l9-5-9-5-9 5 9 5z"></path>
                    <path
                        d="M12 14l6.16-3.422a12.083 12.083 0 01.665 6.479A11.952 11.952 0 0012 20.055a11.952 11.952 0 00-6.824-2.998 12.078 12.078 0 01.665-6.479L12 14z"
                    ></path>
                    <path
                        stroke-linecap="round"
                        stroke-linejoin="round"
                        stroke-width="2"
                        d="M12 14l9-5-9-5-9 5 9 5zm0 0l6.16-3.422a12.083 12.083 0 01.665 6.479A11.952 11.952 0 0012 20.055a11.952 11.952 0 00-6.824-2.998 12.078 12.078 0 01.665-6.479L12 14zm-4 6v-7.5l4-2.222"
                    ></path>
                </svg>

                <h3 class="mt-4 text-xl font-bold text-white">
                    Clases de Inglés para Viajeros en La Serena
                </h3>

                <p class="mt-1 text-sm text-gray-300">
                    Prepara tu próximo viaje con nuestro curso de inglés para
                    viajeros. Aprende las frases y habilidades esenciales para
                    comunicarte en situaciones comunes mientras viajas por el
                    mundo.
                </p>
                <p class="sr-only">
                    inglés para viajar en La Serena", "clases de inglés para
                    viajeros
                </p>
                <p class="text-right underline underline-offset-2">Ver más</p>
            </a>
        </div>

        <div class="mt-12 text-center">
            <a
                href="#Contacto"
                class="h-9 py-2 bg-primary text-primary-foreground shadow hover:bg-primary/90 inline-flex items-center justify-center gap-2 whitespace-nowrap focus-visible:outline-none focus-visible:ring-1 focus-visible:ring-ring disabled:pointer-events-none disabled:opacity-50 [&_svg]:pointer-events-none [&_svg]:size-4 [&_svg]:shrink-0 hover:drop-shadow-[0_0px_7px_rgba(255,255,255,0.75)] rounded bg-green-600 px-12 text-sm font-medium text-white transition hover:bg-green-700 focus:outline-none focus:ring focus:ring-yellow-400"
            >
                <svg
                    xmlns="http://www.w3.org/2000/svg"
                    xmlns:xlink="http://www.w3.org/1999/xlink"
                    width="800px"
                    height="800px"
                    viewBox="0 0 48 48"
                    version="1.1"
                >
                    <title>Whatsapp-color</title>
                    <desc>Created with Sketch.</desc>
                    <defs> </defs>
                    <g
                        id="Icons"
                        stroke="none"
                        stroke-width="1"
                        fill="none"
                        fill-rule="evenodd"
                    >
                        <g
                            id="Color-"
                            transform="translate(-700.000000, -360.000000)"
                            fill="#ffffff"
                        >
                            <path
                                d="M723.993033,360 C710.762252,360 700,370.765287 700,383.999801 C700,389.248451 701.692661,394.116025 704.570026,398.066947 L701.579605,406.983798 L710.804449,404.035539 C714.598605,406.546975 719.126434,408 724.006967,408 C737.237748,408 748,397.234315 748,384.000199 C748,370.765685 737.237748,360.000398 724.006967,360.000398 L723.993033,360.000398 L723.993033,360 Z M717.29285,372.190836 C716.827488,371.07628 716.474784,371.034071 715.769774,371.005401 C715.529728,370.991464 715.262214,370.977527 714.96564,370.977527 C714.04845,370.977527 713.089462,371.245514 712.511043,371.838033 C711.806033,372.557577 710.056843,374.23638 710.056843,377.679202 C710.056843,381.122023 712.567571,384.451756 712.905944,384.917648 C713.258648,385.382743 717.800808,392.55031 724.853297,395.471492 C730.368379,397.757149 732.00491,397.545307 733.260074,397.27732 C735.093658,396.882308 737.393002,395.527239 737.971421,393.891043 C738.54984,392.25405 738.54984,390.857171 738.380255,390.560912 C738.211068,390.264652 737.745308,390.095816 737.040298,389.742615 C736.335288,389.389811 732.90737,387.696673 732.25849,387.470894 C731.623543,387.231179 731.017259,387.315995 730.537963,387.99333 C729.860819,388.938653 729.198006,389.89831 728.661785,390.476494 C728.238619,390.928051 727.547144,390.984595 726.969123,390.744481 C726.193254,390.420348 724.021298,389.657798 721.340985,387.273388 C719.267356,385.42535 717.856938,383.125756 717.448104,382.434484 C717.038871,381.729275 717.405907,381.319529 717.729948,380.938852 C718.082653,380.501232 718.421026,380.191036 718.77373,379.781688 C719.126434,379.372738 719.323884,379.160897 719.549599,378.681068 C719.789645,378.215575 719.62006,377.735746 719.450874,377.382942 C719.281687,377.030139 717.871269,373.587317 717.29285,372.190836 Z"
                                id="Whatsapp"
                            >
                            </path>
                        </g>
                    </g>
                </svg>
                Contáctenos ahora
            </a>
        </div>
    </div>
</section>
