---
import { Button } from "./ui/button";
---

<section class="py-32 px-4">
    <div class="container mx-auto">
        <div class="flex flex-col gap-6">
            <div
                class="grid grid-cols-1 items-stretch gap-x-0 gap-y-4 lg:grid-cols-3 lg:gap-4"
            >
                <img
                    src="/Img/JIREH ENGLISH ACADEMY-1.avif"
                    alt="placeholder"
                    class="h-72 w-full rounded-md object-cover lg:h-auto"
                />
                <div
                    class="rounded-lg border bg-card text-card-foreground shadow-sm col-span-2 flex items-center justify-center p-6"
                >
                    <div class="flex flex-col gap-4">
                        <h2 class="mb-2 text-3xl font-bold lg:text-5xl">
                            Lo que dicen nuestros estudiantes
                        </h2>
                        <p class="text-xl lg:text-3xl">
                            Nuestra academia ha ayudado a cientos de estudiantes
                            a mejorar su inglés. Aquí tienes algunas de sus
                            historias de éxito:
                        </p>
                    </div>
                </div>
            </div>
            <div class="grid grid-cols-1 gap-4 lg:grid-cols-3">
                <div class="rounded-lg border shadow-sm">
                    <div class="p-6 px-6 pt-6 leading-7 text-zinc-50">
                        <q
                            >El impacto que tuvo mi aprendizaje fue
                            tremendamente positivo, me pudo lanzar en lo
                            conversacional del ingles algo que no pude lograr
                            con los programas clásicos que trabajan con texto de
                            estudio y uno de trabajo</q
                        >
                    </div>
                    <div class="flex items-center p-6 pt-0">
                        <div class="flex gap-4 leading-5">
                            <span
                                class="relative justify-center items-center flex shrink-0 overflow-hidden size-9 rounded-full ring-1 ring-input"
                            >
                                <img src="/Img/Mauricio Gomez.avif" alt="" />
                            </span>
                            <div class="text-sm">
                                <p class="font-medium text-zinc-50">
                                    Mauricio Gómez Jopia
                                </p>
                                <p class="text-zinc-400">Abogado</p>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="rounded-lg border shadow-sm">
                    <div class="p-6 px-6 pt-6 leading-7 text-zinc-50">
                        <q
                            >El logro del ingles le dio impulso a mi carrera
                            profesional.<br />Ahora, participo de reuniones en
                            diferentes países, así como de ferias
                            internacionales con mayor confianza y confort. Perdí
                            ese miedo a hablar ingles por temor al error</q
                        >
                    </div>
                    <div class="flex items-center p-6 pt-0">
                        <div class="flex gap-4 leading-5">
                            <span
                                class="relative flex justify-center items-center shrink-0 overflow-hidden size-9 rounded-full ring-1 ring-input"
                            >
                                <img src="/Img/Javier Marquez.avif" alt="" />
                            </span>
                            <div class="text-sm">
                                <p class="font-medium text-zinc-50">
                                    Javier Márquez
                                </p>
                                <p class="text-zinc-400">
                                    Gerente General FAMESA, Chile
                                </p>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="rounded-lg border shadow-sm">
                    <div class="p-6 px-6 pt-6 leading-7 text-zinc-50">
                        <q
                            >Okay, so my name is Cristian Galves. I'm a Mining
                            Engineer, working here at famesa explosivos, Chile.
                            And i want to talk to you about the real adapt
                            english course. It's a great opportunity if you want
                            to improve your english</q
                        >
                    </div>
                    <div class="flex items-center p-6 pt-0">
                        <div class="flex gap-4 leading-5">
                            <span
                                class="relative flex justify-center items-center shrink-0 overflow-hidden size-9 rounded-full ring-1 ring-input"
                            >
                                <img src="/Img/Cristian Galvez.avif" alt="" />
                            </span>
                            <div class="text-sm">
                                <p class="font-medium text-zinc-50">
                                    Cristian Galves
                                </p>
                                <p class="text-zinc-400">
                                    Ingeniero en Minería
                                </p>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>
