---
import { Button } from "./ui/button";
---

<section class="py-32 px-4">
    <div class="container mx-auto">
        <div class="flex flex-col gap-6">
            <div
                class="grid grid-cols-1 items-stretch gap-x-0 gap-y-4 lg:grid-cols-3 lg:gap-4"
            >
                <img
                    src="/Img/JIREH ENGLISH ACADEMY-1.avif"
                    alt="placeholder"
                    class="h-72 w-full rounded-md object-cover lg:h-auto"
                />
                <div
                    class="rounded-lg border bg-card text-card-foreground shadow-sm col-span-2 flex items-center justify-center p-6"
                >
                    <div class="flex flex-col gap-4">
                        <h2 class="mb-2 text-3xl font-bold lg:text-5xl">
                            Lo que dicen nuestros estudiantes
                        </h2>
                        <p class="text-xl lg:text-3xl">
                            Nuestra academia ha ayudado a cientos de estudiantes
                            a mejorar su inglés. Aquí tienes algunas de sus
                            historias de éxito:
                        </p>
                    </div>
                </div>
            </div>
            <div class="grid grid-cols-1 gap-4 lg:grid-cols-3">
                <div class="rounded-lg border shadow-sm">
                    <div class="p-6 px-6 pt-6 leading-7 text-zinc-50">
                        <q
                            >El impacto que tuvo mi aprendizaje fue
                            tremendamente positivo, me pudo lanzar en lo
                            conversacional del ingles algo que no pude ligrar
                            con los programas clasicos que trabajan con texto de
                            estudio y uno de trabajo</q
                        >
                    </div>
                    <div class="flex items-center p-6 pt-0">
                        <div class="flex gap-4 leading-5">
                            <span
                                class="relative justify-center items-center flex shrink-0 overflow-hidden size-9 rounded-full ring-1 ring-input"
                            >
                                <svg
                                    viewBox="0 0 36 36"
                                    fill="none"
                                    role="img"
                                    xmlns="http://www.w3.org/2000/svg"
                                    width="80"
                                    height="80"
                                    ><mask
                                        id=":r3p:"
                                        maskUnits="userSpaceOnUse"
                                        x="0"
                                        y="0"
                                        width="36"
                                        height="36"
                                        ><rect
                                            width="36"
                                            height="36"
                                            rx="72"
                                            fill="#FFFFFF"></rect></mask
                                    ><g mask="url(#:r3p:)"
                                        ><rect
                                            width="36"
                                            height="36"
                                            fill="#6e1e62"></rect><rect
                                            x="0"
                                            y="0"
                                            width="36"
                                            height="36"
                                            transform="translate(7 7) rotate(273 18 18) scale(1)"
                                            fill="#de4126"
                                            rx="6"></rect><g
                                            transform="translate(3.5 3.5) rotate(-3 18 18)"
                                            ><path
                                                d="M13,19 a1,0.75 0 0,0 10,0"
                                                fill="#FFFFFF"></path><rect
                                                x="11"
                                                y="14"
                                                width="1.5"
                                                height="2"
                                                rx="1"
                                                stroke="none"
                                                fill="#FFFFFF"></rect><rect
                                                x="23"
                                                y="14"
                                                width="1.5"
                                                height="2"
                                                rx="1"
                                                stroke="none"
                                                fill="#FFFFFF"></rect></g
                                        ></g
                                    ></svg
                                >
                            </span>
                            <div class="text-sm">
                                <p class="font-medium text-zinc-50">
                                    Maurico Gómez Jopia
                                </p>
                                <p class="text-zinc-400">Abogado</p>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="rounded-lg border shadow-sm">
                    <div class="p-6 px-6 pt-6 leading-7 text-zinc-50">
                        <q
                            >El logro del ingles le dio impulso a mi carrera
                            profesional.<br />Ahora, participo de reuniones en
                            diferentes países, así como de ferias
                            internacionales con mayor confianza y confort. Perdi
                            ese miedo a hablar ingles por temor al error</q
                        >
                    </div>
                    <div class="flex items-center p-6 pt-0">
                        <div class="flex gap-4 leading-5">
                            <span
                                class="relative flex justify-center items-center shrink-0 overflow-hidden size-9 rounded-full ring-1 ring-input"
                            >
                                <svg
                                    viewBox="0 0 36 36"
                                    fill="none"
                                    role="img"
                                    xmlns="http://www.w3.org/2000/svg"
                                    width="80"
                                    height="80"
                                    ><mask
                                        id=":r18:"
                                        maskUnits="userSpaceOnUse"
                                        x="0"
                                        y="0"
                                        width="36"
                                        height="36"
                                        ><rect
                                            width="36"
                                            height="36"
                                            rx="72"
                                            fill="#FFFFFF"></rect></mask
                                    ><g mask="url(#:r18:)"
                                        ><rect
                                            width="36"
                                            height="36"
                                            fill="#e84624"></rect><rect
                                            x="0"
                                            y="0"
                                            width="36"
                                            height="36"
                                            transform="translate(-4 8) rotate(168 18 18) scale(1)"
                                            fill="#e8a726"
                                            rx="36"></rect><g
                                            transform="translate(0 4) rotate(-8 18 18)"
                                            ><path
                                                d="M13,19 a1,0.75 0 0,0 10,0"
                                                fill="#000000"></path><rect
                                                x="11"
                                                y="14"
                                                width="1.5"
                                                height="2"
                                                rx="1"
                                                stroke="none"
                                                fill="#000000"></rect><rect
                                                x="23"
                                                y="14"
                                                width="1.5"
                                                height="2"
                                                rx="1"
                                                stroke="none"
                                                fill="#000000"></rect></g
                                        ></g
                                    ></svg
                                >
                            </span>
                            <div class="text-sm">
                                <p class="font-medium text-zinc-50">
                                    Javier Márquez
                                </p>
                                <p class="text-zinc-400">
                                    Gerente General FAMESA, Chile
                                </p>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="rounded-lg border shadow-sm">
                    <div class="p-6 px-6 pt-6 leading-7 text-zinc-50">
                        <q
                            >Okay, so my name is Cristian Galves. I'm a Mining
                            Engineer, working here at famesa explosivos, Chile.
                            And i want to talk to you about the real adapt
                            english course. It's a great opportunity if you want
                            to improve your english</q
                        >
                    </div>
                    <div class="flex items-center p-6 pt-0">
                        <div class="flex gap-4 leading-5">
                            <span
                                class="relative flex justify-center items-center shrink-0 overflow-hidden size-9 rounded-full ring-1 ring-input"
                            >
                                <svg
                                    viewBox="0 0 36 36"
                                    fill="none"
                                    role="img"
                                    xmlns="http://www.w3.org/2000/svg"
                                    width="80"
                                    height="80"
                                    ><mask
                                        id=":r2s:"
                                        maskUnits="userSpaceOnUse"
                                        x="0"
                                        y="0"
                                        width="36"
                                        height="36"
                                        ><rect
                                            width="36"
                                            height="36"
                                            rx="72"
                                            fill="#FFFFFF"></rect></mask
                                    ><g mask="url(#:r2s:)"
                                        ><rect
                                            width="36"
                                            height="36"
                                            fill="#493736"></rect><rect
                                            x="0"
                                            y="0"
                                            width="36"
                                            height="36"
                                            transform="translate(5 -1) rotate(35 18 18) scale(1.2)"
                                            fill="#b9d7d9"
                                            rx="6"></rect><g
                                            transform="translate(3 -2) rotate(5 18 18)"
                                            ><path
                                                d="M15 21c2 1 4 1 6 0"
                                                stroke="#000000"
                                                fill="none"
                                                stroke-linecap="round"
                                            ></path><rect
                                                x="14"
                                                y="14"
                                                width="1.5"
                                                height="2"
                                                rx="1"
                                                stroke="none"
                                                fill="#000000"></rect><rect
                                                x="20"
                                                y="14"
                                                width="1.5"
                                                height="2"
                                                rx="1"
                                                stroke="none"
                                                fill="#000000"></rect></g
                                        ></g
                                    ></svg
                                >
                            </span>
                            <div class="text-sm">
                                <p class="font-medium text-zinc-50">
                                    Cristian Galves
                                </p>
                                <p class="text-zinc-400">
                                    Ingeniero en Minería
                                </p>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <Button className="mt-8 w-56 mx-auto">
                Lee más historias de éxito
            </Button>
        </div>
    </div>
</section>
