---
import { ViewTransitions } from "astro:transitions";
interface Props {
    title: string;
    description?: string;
}

const { title, description } = Astro.props;
import Header from "../components/Header.astro";
import Footer from "../components/Footer.astro";
---

<!doctype html>
<html lang="es">
    <head>
        <meta charset="UTF-8" />
        <meta
            name="description"
            content={description ? description : "Description"}
        />
        <meta name="viewport" content="width=device-width" />
        <link rel="icon" type="image/svg+xml" href="/favicon.svg" />
        <meta name="generator" content={Astro.generator} />
        <title>{title}</title>
        <ViewTransitions />
    </head>
    <body class="relative -z-10">
        <div
            class="absolute top-0 z-[-2] h-full w-full bg-[#000000] bg-[radial-gradient(#ffffff33_1px,#00091d_1px)] bg-[size:30px_30px]"
        >
        </div>
        <Header />
        <main class="w-full mx-auto mt-16 min-h-[calc(100vh-517px)]">
            <slot />
        </main>
        <Footer />
    </body>
</html>
<style is:global>
    html {
        font-family: system-ui, sans-serif;
        scroll-behavior: smooth;
    }
    code {
        font-family:
            Menlo,
            Monaco,
            Lucida Console,
            Liberation Mono,
            DejaVu Sans Mono,
            Bitstream Vera Sans Mono,
            Courier New,
            monospace;
    }
</style>
